@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&family=Roboto:wght@400;700&display=swap");


/* CSS variables maken het makkelijker om een kleur of letter groote terug te vinden */

:root {
  --clr-primary-dark: #163a17;
  --clr-primary-medium: #276500;
  --clr-primary-light: #abf8b0;

  --clr-gray-medium: #898989;
  --clr-gray-light: #e0efe1;

  --clr-white: #ffffff;

  --fs-desktop-1: 4.75rem;
  --fs-desktop-2: 3rem;
  --fs-desktop-3: 2.4rem;
  --fs-desktop-4: 1.25rem;

  --fs-mobile-1: 2.5rem;
  --fs-mobile-2: 2.5rem;
  --fs-mobile-3: 2rem;
  --fs-mobile-4: 1.25rem;

  --fs-print-1: 2rem;
  --fs-print-2: 1.75rem;
  --fs-print-3: 1.5rem;
  --fs-print-4: 1rem;
}



* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* CSS voor de desktop variant */ 
/* CSS for the entire body */

body {
  font-family: "Noto Sans", sans-serif;
  font-size: var(--fs-desktop-4);
  color: var(--clr-primary-dark)
}

h1,
h2,
h3 {
  font-family: "Roboto", sans-serif;
  color: var(--clr-primary-dark);
}

h1 {
  font-size: var(--fs-desktop-1);
  text-align: center;
  margin-bottom: 3.5rem;
}

h2 {
  font-size: var(--fs-desktop-2);
  font-weight: 400;
  margin-bottom: 2.25rem;
}

h3 {
  font-size: var(--fs-desktop-3);
  font-weight: 400;
  margin-bottom: 2.25rem;
}

p {
  margin-bottom: 1rem;
}


/* CSS voor de navigatie balk */

header {
    position: fixed;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem 2rem;
    background-color: var(--clr-white);
    z-index: 100;
  }
  
  .logo {
    display: flex;
    align-items: center;
    font-size: var(--fs-desktop-3);
    font-weight: 800;
  }
  
  .logo > img {
    width: 2.5rem;
    height: auto;
    margin-right: 0.5rem;
  }
  
  .logoAnchor {
    text-decoration: none;
    color: var(--clr-primary-dark);
  }

  /* CSS voor het invul formulier */ 

  .contactDetails {
      display: flex;
      padding-top: 9rem;
      margin-right: 0.5rem;
      margin-left: 1.5rem;         
    }

  form {
    text-align: center;
  }

  main {
    text-align: center;
    padding-top: 80px;
  }